config.php
.idea/
.buildpath
.project
.settings/
src/config.php
src/secret.php
src/logs/error.log
src/framework/conf/config.php
src/public/files/get/filestorage*
src/public/files/get/filestorage/*
src/logs/*
docs/*backup*

docs/*
db-old/*
examples/*
tmp/*
simplesamlphp/
simplesamlphp*
