/* EMAIL SETTINGS =================================================*/
.admin.mail_settings button, .admin.mail_settings input,
.admin.legis_settings button, .admin.legis_settings input,
.admin.oset_settings button, .admin.oset_settings input{
	border-radius: 0;
}
.adminbutton,
.admin.mail_settings button,
.admin.legis_settings .footerline button {
	display: inline-block;
	background-color: #314885;
	color: #fff;
	font-weight: bold;
	text-align: center;
	border: 1px solid #E5891A;
	height: 28px;
	line-height: 28px;
	margin-left: 5px;
	vertical-align: bottom;
	transition: background-color .2s, border .2s;
}
.adminbutton:hover,
.adminbutton:active,
.adminbutton:focus,
.admin.mail_settings button:hover,
.admin.mail_settings button:active,
.admin.mail_settings button:focus,
.admin.legis_settings .footerline button:hover,
.admin.legis_settings .footerline button:active,
.admin.legis_settings .footerline button:focus,
.admin.oset_settings button:hover,
.admin.oset_settings button:active,
.admin.oset_settings button:focus {
	cursor: pointer;
	border: 1px solid #314885;
	background-color: #E5891A;
	text-decoration:none;
	color: #fff;
}
.admin.mail_settings input, .admin.mail_settings textarea,
.admin.legis_settings input, .admin.legis_settings textarea,
.admin.oset_settings input, .admin.oset_settings textarea{
	height: 28px;
	line-height: 28px;
	font-weight: bold;
	border: 1px solid #314885;
	vertical-align: bottom;
	padding-left: 5px;
	width: 80%;
}
.admin.legis_settings .footerline input,
.admin.legis_settings textarea {
	width: 28%;
}
/* ----------- */
.admin.mail_settings table tr th:nth-child(1),
.admin.legis_settings table tr th:nth-child(1),
.admin.oset_settings table tr th:nth-child(1){
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.editable.mail,
.editable.legis,
.editable.oset {
	-ms-word-break: break-all;
    word-break: break-all;
	/* Non standard for webkit */
     word-break: break-word;
	display: inline-block;
	padding:1px 20px 1px 5px;
	margin-left: -6px;
	border: 1px solid transparent;
	min-width: 150px;
}
.editable.mail:hover,
.editable.mail:active,
.editable.mail:focus,
.editable.legis:hover,
.editable.legis:active,
.editable.legis:focus,
.editable.oset:hover,
.editable.oset:active,
.editable.oset:focus {
	border: 1px solid gray;
}
.admin.mail_settings .footerline,
.admin.legis_settings .footerline {
	text-align: right;
	padding-right: 20px;
}
.adminbutton,
.admin.mail_settings button.submit,
.admin.legis_settings button.submit {
	width: 100%;
	width: calc(100% - 15px);
	max-width: 250px;
	display: block;
	float: right;
}
/* ======================== */
.admin.legis_settings tr td button.legremove {
    height: 25px;
    line-height: 25px;
    padding: 0 13px;
    margin-left: 20px;
	opacity: 0;
	transition: color .15s ease-in-out,opacity .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.admin.legis_settings tr td:hover button.legremove,
.admin.legis_settings tr td button.legremove:hover,
.admin.legis_settings tr td button.legremove:active,
.admin.legis_settings tr td button.legremove:focus {
	opacity: 1;
}
/* RADIO TOGGLES ================================================*/
div.radiogroup {
	width: 140px;
	border: 2px solid #E5891A;
	border-radius: 0px;
	padding: 0px;
	background-color: #ddd;
	overflow: hidden;
	font-weight: bold;
	position: relative;
	height: 30px;
}
div.radiogroup input {
	display: none;
}
div.radiogroup label {
	display: inline-block;
	height: 26px;
    line-height: 23px;
	font-size: 16px;
	padding: 3px;
    border: 0px solid transparent;
    text-align: center;
	border-left: 1px solid #E5891A;
	border-right: 1px solid #E5891A;
	vertical-align: top;
	position: relative;
	z-index: 20;
	transition: color 0.3s;
	cursor: pointer;
}
div.radiogroup.radiotoggle2 label {
	width: 33.3%;
	width: calc( 100% / 3 );
}
div.radiogroup.radiotoggle2 div {
    width: 33.3%;
	width: calc( 100% / 3 );
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #173d92;
	transition: left 0.2s ease-out;
	z-index: 10;
}
div.radiogroup input:checked + label {
	background-color: rgba(0,0,0,0.1);
	color: #fff;
}
div.radiogroup label, 
div.radiogroup label,
div.radiogroup label {
	font-size: 0.7em;
}
div.radiogroup label:hover, 
div.radiogroup label:active,
div.radiogroup label:focus {
	background-color: rgba(0,0,0,0.2);
}
div.radiogroup.radiotoggle2 input:checked + label + input + label + input + label + div{
	left: 0%;
}
div.radiogroup.radiotoggle2 input + label + input:checked + label + input + label + div{
	left: 33.3%;
	left: calc( 100% / 3 );
}
div.radiogroup.radiotoggle2 input + label + input + label + input:checked + label + div{
	left: 66.6%;
	left: calc( 200% / 3 );
}