.silmph_top {
	margin-top: 10px;
}
.silmph_top_counter_reset {
	counter-reset: topcount;
}
.silmph_top:not(.skipnext) .top_counter{
	counter-increment: topcount;
	margin-right: 20px;
}
.silmph_top:not(.skipnext) .top_counter::before{
	content: "Top ";
	display:inline-block;
}
.silmph_top:not(.skipnext) .top_counter::after{
	content: counter(topcount) ":";
	display:inline-block;
	min-width: 25px;
	margin-left: 4px;
	text-align: right;
}
.top_resort::after{
	content: "-";
	display:inline-block;
	margin-left: 6px;
	margin-right: 7px;
}
.silmph_top {
	position: relative;
}
.silmph_top .headline{
	font-weight: bold;
}
.silmph_top.skipnext .headline{
	font-weight: bold;
	color: #bbb;
}
.silmph_top .headline span:last-child{
	margin-right: 70px;
	display: inline-block;
}
.silmph_top .topinfo {
	font-weight: bold;
}
.silmph_top .topinfo > span{
	margin-right: 30px;
	margin-left: 10px;
	display: inline-block;
	min-width: 60px;
}
.silmph_top .topinfo > span:last-child{
	margin-right: 0;
}
@media screen and (max-width: 460px) {
	.silmph_top .topinfo > span{
		margin-right: 10px;
		margin-left: 10px;
		display: block;
	}
}
.silmph_top span.added {
	text-align: right;
	float:right;
	margin-right: 10px;
}
.silmph_top.skipnext .topinfo span.skipn {
	display: inline-block;
}
.silmph_top .topinfo span.skipn {
	display: none;
}
.silmph_top.guest .topinfo span.guest {
	display: inline-block;
}
.silmph_top .topinfo span.guest {
	display: none;
}
.silmph_top .text{
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.silmph_top .text_rendered {
	word-wrap: break-word;
	border-radius: 3px;
	border: 2px solid #ddd;
	padding: 5px;
}
/* ------- Top info line symbols ------ */
.silmph_top .topinfo span::before{
	font: normal normal normal 14px/1 FontAwesome;
	width: 1.28571429em;
	text-align: center;
	font-size: inherit;
	display: inline-block;
}
.silmph_top .topinfo span.added::before{
	content: "\f073";
}
.silmph_top .topinfo span.duration::before{
	content: "\f017";
}
.silmph_top .topinfo span.person::before{
	content: "\f007";
}
.silmph_top .topinfo span.guest::before{
	content: "\f2c0";
}
.silmph_top .topinfo span.skipn::before{
	content: "\f252";
}
.silmph_top .topinfo span.goal::before{
	content: "\f124";
}
/* ------- buttons ------- */
.silmph_top .buttons > div{
	width: 1.28571429em;
	text-align: center;
	font: normal normal normal 14px/1 FontAwesome;
	cursor: pointer;
	position: absolute;
}
.silmph_top .buttons .edit{
	right: 13px;
	bottom: 13px;
	width: 45px;
	height: 45px;
	line-height: 30px;
	border-radius: 50%;
	background-color: #fff;
}
.silmph_top .buttons .edit:hover{
	background-color: #6c757d;
}
.silmph_top .buttons .edit::before {
	content: "\f040";
}
.silmph_top .buttons .remove {
	right: 13px;
	top: 7px;
	width: 35px;
	height: 35px;
	line-height: 20px;
	border-radius: 50%;
	border-color: transparent;
	padding-left: 11px;
}
.silmph_top .buttons .remove::before {
	content: "\f00d";
}
.silmph_top .buttons .skipn {
	right: 53px;
	top: 7px;
	width: 35px;
	height: 35px;
	line-height: 20px;
	border-radius: 50%;
	border-color: transparent;
	padding-left: 10px;
}
.silmph_top .buttons .skipn::before {
	content: "\f252";
}
.silmph_top.skipnext .buttons .skipn {
	padding-left: 12px;
}
.silmph_top.skipnext .buttons .skipn::before {
	content: "\f04b";
}
.silmph_top .text_rendered {
	font-size: 0.8em;
-webkit-transition: all 500ms cubic-bezier(0.900, 0.005, 0.125, 1.000);
   -moz-transition: all 500ms cubic-bezier(0.900, 0.005, 0.125, 1.000);
     -o-transition: all 500ms cubic-bezier(0.900, 0.005, 0.125, 1.000);
        transition: all 500ms cubic-bezier(0.900, 0.005, 0.125, 1.000);
	overflow: hidden;
}
.silmph_top input:not(:checked) + .text_rendered {
	max-height: 60px;
	border-bottom-color: coral;
	border-bottom-style: dotted;
}
.silmph_top input:checked + .text_rendered {
	max-height: 1200px;
}
.silmph_top label.texttoggle {
	width: 1.28571429em;
	text-align: center;
	font: normal normal normal 14px/1 FontAwesome;
	cursor: pointer;
	position: absolute;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 19px;
	width: 45px;
	height: 45px;
	line-height: 30px;
	border-radius: 50%;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, bottom .5s ease-in-out;
}
.silmph_top label.texttoggle:not(:hover){
	background-color: #fff;
}
.silmph_top label.texttoggle::before {
	content: "\f078";
	transition: all 0.5s ease-in-out;
	display: inline-block;
	height: 32px;
	width: 17px;
}
.silmph_top input:checked + .text_rendered + label.texttoggle {
	bottom: -19px;
}
.silmph_top input:checked + .text_rendered + label.texttoggle::before {
	transform: rotate(180deg);
}

.silmph_top .text_rendered h1,
.silmph_top .text_rendered h2,
.silmph_top .text_rendered h3,
.silmph_top .text_rendered h4,
.silmph_top .text_rendered h5,
.silmph_top .text_rendered h6 {
	font-weight: bolder;
}
.silmph_top .text_rendered h1 {
	font-size: 1.8rem;
}
.silmph_top .text_rendered h2 {
	font-size: 1.5rem;
}
.silmph_top .text_rendered h3 {
	font-size: 1.25rem;
}
.silmph_top .text_rendered h4 {
	font-size: 1.1rem;
}
.silmph_top .text_rendered h5 {
	font-size: 1.0rem;
}
.silmph_top .text_rendered h6 {
	font-size: 0.9rem;
}
/* ------ memberlist ------ */
.silmph_memberbox {
	max-width: 500px;
}
.silmph_memberbox .member .membername {
	display: inline-block;
	width: 100%;
	line-height: 29px;
}
.silmph_memberbox.editmember .member .membername {
	width: calc(100% - 40px);
}
.silmph_memberbox .member .membername::before{
	content: attr(data-name);
}
.silmph_memberbox .member .membername::after{
	content: "(L: " attr(data-management) ") (P: " attr(data-protocol) ")";
	float: right;
}
.silmph_memberbox .member .delete {
	display: none;
}
.silmph_memberbox.editmember .member .delete {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	cursor: pointer;
	width: 30px;
	height: 30px;
	line-height: 16px;
	border-radius: 50%;
	padding-left: 0;
	margin-left: 8px;
	text-align: center;
}
.silmph_memberbox .member .delete::before {
	content: "\f00d";
	width: 29px;
	display: inline-block;
	text-align: center;
}
.silmph_memberbox:not(.editmember) {
	display: none;
}
.silmph_memberbox:not(.showlist) > ul,
.silmph_memberbox:not(.showlist) > div {
	display: none;
}
.ui-autocomplete .ui-menu-item{
	background-color: white;
}
.silmph_top_autocomplete_resort {
	z-index: 1200;
}
.silmph_top_autocomplete_resort .ui-menu-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.silmph_top_autocomplete_resort .ui-menu-item {
    position: relative;
    display: block;
    padding: .5rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.silmph_edit .wikitext {
	min-height: 280px;
}
.silmph_edit .silmph_texteditor > textarea,
.silmph_edit .silmph_texteditor > .CodeMirror{
	border: 1px solid #777;
}
/* ------------- */
.toggleswitch{
	position: relative;
	display: inline-block;
	width: 128px;
	height: 38px;
}
.toggleswitch_slider{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 3px;
}
.toggleswitch_slider:before {
	position: absolute;
	content: "\2714";
	color: white;
	height: 30px;
	width: 60px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
}

input:checked + .toggleswitch .toggleswitch_slider {
	background-color: #1D87DA;
}

input:focus + .toggleswitch .toggleswitch_slider {
	box-shadow: 0 0 1px #1D87DA;
}

input:checked + .toggleswitch .toggleswitch_slider:before {
	-webkit-transform: translateX(60px);
	-ms-transform: translateX(60px);
	transform: translateX(60px);
	color: #1D87DA;
}
/* -------------- */
.silmph_edit .wikitext + .CodeMirror-fullscreen {
    top: 58px;
    z-index: 300;
}
