.silmph_top {
	margin-top: 10px;
}
.silmph_top_counter_reset {
	counter-reset: topcount;
}
.silmph_top:not(.skipnext) .top_counter{
	counter-increment: topcount;
	margin-right: 20px;
}
.silmph_top:not(.skipnext) .top_counter::before{
	content: "Top ";
	display:inline-block;
}
.silmph_top:not(.skipnext) .top_counter::after{
	content: counter(topcount) ":";
	display:inline-block;
	min-width: 25px;
	margin-left: 4px;
	text-align: right;
}
.top_resort::after{
	content: "-";
	display:inline-block;
	margin-left: 6px;
	margin-right: 7px;
}
.silmph_top {
	position: relative;
}
.silmph_top .headline{
	font-weight: bold;
}
.silmph_top.skipnext .headline{
	font-weight: bold;
	color: #bbb;
}
.silmph_top .headline span:last-child{
	margin-right: 70px;
	display: inline-block;
}
.silmph_top .topinfo {
	font-weight: bold;
}
.silmph_top .topinfo > span{
	margin-right: 30px;
	margin-left: 10px;
	display: inline-block;
	min-width: 60px;
}
.silmph_top .topinfo > span:last-child{
	margin-right: 0;
}
@media screen and (max-width: 460px) {
	.silmph_top .topinfo > span{
		margin-right: 10px;
		margin-left: 10px;
		display: block;
	}
}
.silmph_top span.added {
	text-align: right;
	float:right;
	margin-right: 10px;
}
.silmph_top.skipnext .topinfo span.skipn {
	display: inline-block;
}
.silmph_top .topinfo span.skipn {
	display: none;
}
.silmph_top.guest .topinfo span.guest {
	display: inline-block;
}
.silmph_top .topinfo span.guest {
	display: none;
}
.silmph_top .text{
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.silmph_top .text_rendered {
	word-wrap: break-word;
	border-radius: 3px;
	border: 2px solid #ddd;
	padding: 5px;
}
/* ------- Top info line symbols ------ */
.silmph_top .topinfo span::before{
	font: normal normal normal 14px/1 FontAwesome;
	width: 1.28571429em;
	text-align: center;
	font-size: inherit;
	display: inline-block;
}
.silmph_top .topinfo span.added::before{
	content: "\f073";
}
.silmph_top .topinfo span.duration::before{
	content: "\f017";
}
.silmph_top .topinfo span.person::before{
	content: "\f007";
}
.silmph_top .topinfo span.guest::before{
	content: "\f2c0";
}
.silmph_top .topinfo span.skipn::before{
	content: "\f04c";
}
.silmph_top .topinfo span.goal::before{
	content: "\f124";
}
/* ------- buttons ------- */
.silmph_top .buttons > div{
	width: 1.28571429em;
	text-align: center;
	font: normal normal normal 14px/1 FontAwesome;
	cursor: pointer;
	position: absolute;
}
.silmph_top .buttons .edit{
	right: 13px;
	bottom: 13px;
	width: 45px;
	height: 45px;
	line-height: 30px;
	border-radius: 50%;
	background-color: #fff;
}
.silmph_top .buttons .edit:hover{
	background-color: #6c757d;
}
.silmph_top .buttons .edit::before {
	content: "\f040";
}
.silmph_top .buttons .remove {
	right: 13px;
	top: 7px;
	width: 35px;
	height: 35px;
	line-height: 20px;
	border-radius: 50%;
	border-color: transparent;
	padding-left: 11px;
}
.silmph_top .buttons .remove::before {
	content: "\f00d";
}
.silmph_top .buttons .skipn {
	right: 53px;
	top: 7px;
	width: 35px;
	height: 35px;
	line-height: 20px;
	border-radius: 50%;
	border-color: transparent;
	padding-left: 10px;
}
.silmph_top .buttons .skipn::before {
	content: "\f04c";
}
.silmph_top.skipnext .buttons .skipn {
	padding-left: 12px;
}
.silmph_top.skipnext .buttons .skipn::before {
	content: "\f04b";
}
.silmph_top .text_rendered {
	font-size: 0.8em;
}
.silmph_top .text_rendered h1,
.silmph_top .text_rendered h2,
.silmph_top .text_rendered h3,
.silmph_top .text_rendered h4,
.silmph_top .text_rendered h5,
.silmph_top .text_rendered h6 {
	font-weight: bolder;
}
.silmph_top .text_rendered h1 {
	font-size: 1.8rem;
}
.silmph_top .text_rendered h2 {
	font-size: 1.5rem;
}
.silmph_top .text_rendered h3 {
	font-size: 1.25rem;
}
.silmph_top .text_rendered h4 {
	font-size: 1.1rem;
}
.silmph_top .text_rendered h5 {
	font-size: 1.0rem;
}
.silmph_top .text_rendered h6 {
	font-size: 0.9rem;
}