html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
}
nav,
.togglebox,
.resotoggle,
.menu,
.footer,
.help_printbutton,
.menubutton_wrapper,
.header br,
.footer,
.menu_toggle,
.header img.logo_fav,
.modalwrapper,
.message_relative,
.noprint,
.half_container input,
.full_container input,
button,
.half_container.register.create_user,
.full_container.order {
	display: none;
}
a:link, a:visited, a:active {
	color: #003366;
	text-decoration: none;
}
.half_container,
.full_container,
.button_container{
	margin-left: 15px;
	padding-left: 5px;
}
h2{
	padding-left: 8px;
}
h3{
	padding-left: 8px;
}
.half_container table,
.full_container table {
	margin-left: 15px;
	border-collapse: collapse;
}
.half_container table td,
.full_container table td{
	border-bottom: 1px solid gray;
	padding-left: 15px;
	padding-right: 15px;
}
.half_container table th,
.full_container table th{
	border-bottom: 1px solid gray;
	text-align: left;
	padding-left: 4px;
	padding-right: 6px;
}
.half_container.login input{
	display: block;
	margin-left: 20px;
	padding: 3px 10px;
	border: 1px solid #ccc;
	border-radius: 0px;
	width: 200pt;
}
.half_container.login h3{
	padding: 10px 5px 0px 10px;
	margin: 0;
}
.half_container.login h4{
	padding: 10px 5px 0px 20px;
	margin: 0;
}
.half_container.login{
	border: 1px solid gray;
	width: 50%;
	padding: 5px 5px 10px 5px;
	position: relative;
	width: 250pt;
}
.full_container.user_permission input{
	display: inherit;
}

.full_container.user_permission .tb{
	vertical-align: bottom;
    text-align: right;
	margin: auto 0 0 0;
	transform:             rotate( -85deg );            
    -moz-transform:    rotate( -85deg );            
    -ms-transform:     rotate( -85deg );            
    -o-transform:      rotate( -85deg );            
    -webkit-transform: rotate( -85deg );
	width: 12px; 
	position: absolute;
	bottom: 0;
	left: 41%;
}
.full_container.user_permission .bottom{
    vertical-align: bottom;
    text-align: right;
}
.full_container.user_permission .bottom th{
    text-align: center;
    text-align: -webkit-center;
	height: 180px;
	position: relative;
}
.full_container.user_permission .bottom th:first-child{
    text-align: left;
}
header, 
.printheader {
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	position: relative !important;
	line-height: 40px;
}
#page_header img.logo{
	width: 180px;
	height: auto;
	vertical-align: middle;
}
#page_header span{
	font-size: 0.4em;
	display: inline-block;
	padding-left: 20pt;
}
.content {
	margin-left: 0 !important;
}
@page {margin: 0.9in 0.7in 0.7in 0.7in;}
.table tr,
.table tr td,
.table tr th {
	border-bottom: 1px solid #ddd;
}
#resotable {
	font-size: 0.8em;
}
.printheader.printonly img.logo {
	display: inline-block;
	vertical-align: middle;
}
/*Sitzungseinladung Druckvorschau*/
body.invite .printheader.printonly span{
	color: #fff;
	display: none;
}
body.invite .printheader.printonly img.logo {
	display: none;
}
body.invite h2.headline {
	font-size: 40px;
	padding-left: 160px;
}
body.invite .main > .card .card-body > h3 {
	display: none;
}
body.invite .silmph_nprotolist .npheadline,
body.invite .silmph_nprotolist .npbody .nprotoelm,
body.invite .silmph_nprotolist .npbody .nprotoelm .col-3:nth-child(2),
body.invite .silmph_create_np,
body.invite .silmph_create_np + h4,
body.invite .main > .card:nth-child(7) + h3,
body.invite .silmph_tcreate_btn,
body.invite .silmph_memberbox,
body.invite .silmph_top .topinfo .added,
body.invite .silmph_top .topinfo .filecount,
body.invite .silmph_top .topinfo .person,
body.invite .silmph_top .topinfo .skipn,
body.invite .silmph_top .topinfo span.guest,
body.invite .silmph_top,
body.invite .silmph_top > .card-body,
body.invite .silmph_top > .buttons{
	display: none;
}
body.invite .silmph_nprotolist .npbody .nprotoelm:first-child {
	display:block;
}
body.invite .silmph_nprotolist .npbody {
	height: auto;
	overflow: hidden;
}
body.invite .silmph_nprotolist .npbody .nprotoelm:first-child .col-3:nth-child(1) {
	line-height: 26px;
	font-weight: bold;
	font-size: 20px;
	padding: 10px 50px;
}
body.invite .silmph_themenhead {
	padding: 15px 8px 0;
	font-weight: bold;
	font-size: 18px;
	display: block;
}
body.invite .silmph_where,
body.invite .silmph_when{
}
body.invite .silmph_nprotolist .npbody .nprotoelm:first-child .col-3:nth-child(1),
body.invite .silmph_where > span{
	display: block;
	background-color: #bfbfbf;
	border-top: 1px solid #6c7074;
	border-bottom: 1px solid #6c7074;
	padding: 10px 50px;
	font-weight: bold;
	font-size: 18px;
}
body.invite .silmph_nprotolist .npbody .nprotoelm:first-child .col-3:nth-child(1) {
	padding: 8px 50px;
}
body.invite .silmph_top:not(.skipnext)[data-resort=""]:not([data-intern="1"]) {
	display: block;
	posion: relative;
}
body.invite .silmph_top:before {
	content: '';
	display: block;
	position: absolute;
	height: 5px;
	width: 5px;
	left: 10px;
	top: 8px;
	background: black;
	border-radius: 50%;
}
body.invite .silmph_top > .card-header .top_counter {
	font-size: 18px;
	padding-left: 26px;
}
body.invite .silmph_top > .card-header > span:not(.top_counter) {
	font-size: 18px;
}
body.invite .silmph_top .topinfo {
	padding-left: 16px;
}
body.invite .silmph_top > .card-header .top_counter:before{
	content: 'Top';
}
body.invite .silmph_top > .card-header .placeholder {
	padding-left: 25px;
}
body.invite .silmph_invitetext {
	margin-top: 20px;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	line-height: 18px;
	color: #484848;
}
body.invite .silmph_toplist {
	display: block;
	background-color: #bfbfbf;
	border-top: 1px solid #6c7074;
	border-bottom: 1px solid #6c7074;
	padding: 4px 50px;
}
body.invite .silmph_top {
	margin-top: 10px;
	margin-bottom: 10px;
}
body.invite img.stura-head {
	width: 100%;
}