.protolist .yearline {
	font-size: 1.2em;
	padding-top: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
	max-width: 680px;
	position: relative;
}
.protolist .yearline-link {
	height: 0;
	width: 0;
	visibility: hidden;
	position: absolute;
	top: -130px;
}
.protolist .proto {
	display: block;
	padding: 0 5px 0 15px;
	width: 100%; 
	max-width: 650px;
	position: relative;
	line-height: 2.8em;
	box-sizing: border-box;
    color: #666;
}
.protolist .proto:hover {
	background-color: #ddd;
}
.protolist .proto:hover > div {
	background-color: #ddd;
}
.protolist .proto > div {
	display: inline-block;
	position: absolute;
	float: right;
	width: 360px;
	right: 0;
	background-color: white;
	padding-left: 5px;
}
.protolist .proto .resolink:not(:hover),
.protolist .proto .pbc .compare:not(:hover) {
	background-color: #f1f1f1;
}
@media screen and (max-width: 650px) {
	.protolist .proto > div {
		position: relative;
	}
}
@media screen and (max-width: 450px) {
	.protolist .proto > div {
		float:none;
		width: 98%;
		margin: 0 auto;
		lefo:0;
		right: 0;
	}
}
.protolist .proto.agreed {
	color: #00590f;
}
.protolist .proto.draft {
	color: #e06700;
}
.protolist .proto::after{
	content: "";
    clear: both;
    display: block;
}
.protolist .proto > span {
	font-weight: bold;
}
.protolist .proto > div > span {
	display: inline-block;
	min-width: 72px;
	text-align: center;
}
.protolist .proto > div > button{
	min-width: 132px;
}
.protolist .proto > div > div.placeholder{
	min-width: 132px;
	display:inline-block;
	height: 38px;
}
.protolist .proto > div > span > a {
	display: inline-block;
	padding-left: 5px;
}
.protolist .proto > div > span > a::before {
	content:'\f070';
	display: inline-block;
	font-family: FontAwesome;
	padding-right: 3px;
}
.protolist .proto > div > span > a.public::before,
.protolist .proto > div > span > a.draft::before {
	content:'\f0ac';
}
/* -- diff table -- */
.difftable {
	display: table;
	border: 1px solid black;
	counter-reset: protoline;
	table-layout: fixed;
}
.difftable > .headline{
	display: table-row;
	font-weight: bold;
}
.difftable > .line {
	display: table-row;
	counter-increment: section;
}
.difftable > .headline > span,
.difftable > .line > span {
	display: table-cell;
	padding: 0 3px;
	border-bottom: 1px solid #eee;
	min-width: 30px;
	text-align: center;
}
.difftable > .headline > span:last-child,
.difftable > .line > span:last-child {
	text-align: left;
	word-break: break-all;
	white-space: pre-wrap;
}
.difftable > .line > span:nth-child(1) {
	width: 30px;
	text-align: right;
	background-color: #eee;
	font-style: italic;
	padding: 1px 5px;
	border-color: white;
}
.difftable > .line > span:nth-child(1)::before {
	content: "" counter(section);
	display: inline-block;
}
.difftable > .line.normal {
	background-color: transparent;
}
.difftable > .line.normal > span:nth-child(2)::before{
	content: '+';
	display:inline-block;
}
.difftable > .line.removed {
	background-color: lightcoral;
}
.difftable > .line.removed > span:nth-child(3)::before{
	content: '-';
	display:inline-block;
}
.difftable > .line.changed {
	background-color: lightsteelblue;
}
.difftable > .line.changed > span:nth-child(2)::before{
	content: '+';
	display:inline-block;
}
.difftable > .line.changed > span:nth-child(4)::before{
	content: 'C';
	display:inline-block;
}
.difftable > .line.error {
	background-color: orange;
	font-weight: bolder;
}
.difftable > .line.error > span:nth-child(2)::before{
	content: 'E';
	display:inline-block;
}
.difftable > .line.error > span:nth-child(3)::before{
	content: 'E';
	display:inline-block;
}
.difftable > .line.error > span:nth-child(4)::before{
	content: 'E';
	display:inline-block;
}
.difftable > .line:hover {
	background-color: #ddd;
}
.difftable .highlight {
	background-color: yellow;
}
/* -------------------- */
.parseerrors .perror.fatal{
	box-sizing: border-box;
	background-color: #dc3545;
	color: white;
	font-weight:bold;
}
/* -------------------- */
.protostatus {
	display: block;
	width: 100%;
	font-weight: bold;
	text-align: right;
}
.protostatus::after{
	content: "";
	display: block;
	clear: both;
}
.protostatus .general {
	display: block;
	width: 100%;
	max-width: 350px;
	border: 1px solid black;
	padding: 5px;
	float: right;
	position: relative;
}
.protostatus .general > span {
	display: block;
}
.protostatus .general > span::after{
	content: "";
	display: block;
	clear: both;
}
.protostatus .general > span > span:nth-child(1){
	float: left;
}
.protostatus .general > span > span:nth-child(2){
	float: right;
}
.protostatus .legislatur div.css-tooltip {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	margin: 0 5px 0 0;
	height: 20px;
	line-height: 18px;
	padding: 0;
	position: relative;
}
.protostatus .legislatur button {
	display: inline-block;
	width: 40px;
	margin: 0;
	height: 20px;
	line-height: 8px;
}
.protostatus .legislatur button.add {
	margin-left: 5px;
}
.protostatus .legislatur button.sub  {
	margin-right: 5px;
}
.protostatus .btn {
	margin-top: 5px;
}
/* -------------------- */
.resolutionlist .resolution {
	position: relative;
}
.resolutionlist .resolution strong.fixedwidth {
	min-width: 92px;
	display: inline-block;
}
.resolutionlist .resolution input.resotoggle{
	display: none;
}
.resolutionlist .resolution label.resotoggle{
	position: absolute;
	right: 5px;
	bottom: -3px;
	padding: 5px;
	transition: all 300ms ease-in-out;
	box-sizing: border-box;
	border: 1px solid transparent;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	line-height: 18px;
	text-align: center;
	cursor: pointer;
}
.resolutionlist .resolution label.resotoggle:hover{
	border: 1px solid #0ca8ae;
}
.resolutionlist .resolution label.resotoggle::before {
	font-family: FontAwesome;
	content: '\f078';
	width: 30px;
}
.resolutionlist .resolution input.resotoggle:checked + label.resotoggle {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
} 
.resolutionlist .resolution .togglebox{
	display: block;
	overflow-y: hidden;
	max-height: 0px;
	transition: max-height 300ms ease-in-out, margin 300ms ease-in-out;
}
.resolutionlist .resolution input.resotoggle:checked + label + .togglebox{
	max-height: 400px;
	border-top: 1px solid #0c5460;
	margin-top: 10px;
}
.resolutionlist .resolution .togglebox span.yes,
.resolutionlist .resolution .togglebox span.no,
.resolutionlist .resolution .togglebox span.abstention{
	display: inline-block;
	width: 33%;
	padding: 10px;
}
.resolutionlist .resolution .togglebox span.result,
.resolutionlist .resolution .togglebox span.ptag,
.resolutionlist .resolution .togglebox span.category{
	font-weight: bold;
	display: block;
}
.resolutionlist .resolution .togglebox span.category{
	font-weight: bold;
	display: block;
	text-align: right;
	padding-right: 20px;
}
/* -------------------- */
.todolist .highlight,
.fixmelist .highlight,
.deletemelist .highlight {
	font-weight: bold;
}
.resolutionlist > .alert,
.todolist > .alert,
.fixmelist > .alert,
.deletemelist > .alert {
	margin: 6px 0;
}
/* -------------------- */
.protolegend {
	display: block;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
	vertical-align: top;
}
.protolegend::after{
	content: "";
	display: block;
	clear: both;
}
.protolegend > div {
	display: inline-block;
	border: 1px solid black;
	float: right;
	position: relative;
	text-align: right;
	width: auto;
	vertical-align: top;
}
.protolegend > div  > span {
	display: block;
	font-weight: bold;
	padding: 5px;
	text-align: left;
}
.protolegend > div > div {
	display: inline-block;
	padding: 5px;
	min-height: 72px;
	max-width: 250px;
	text-align: left;
	vertical-align: top;
}
.protolegend > div > div:hover {
	background-color: #eee;
}
.protolegend > div > :nth-child(2) > span.color {
	background-color: transparent;
}
.protolegend > div > :nth-child(3) > span.color {
	background-color: lightcoral;
}
.protolegend > div > :nth-child(4) > span.color {
	background-color: lightsteelblue;
}
.protolegend > div > div > span.color{
	display: inline-block;
	width: 30px;
	height: 1em;
}
.protolegend > div > div > span.symbol{
	display: inline-block;
	width: 30px;
	font-weight: bold;
	text-align: center;
	height: 1em;
}
.protolegend > div > div > span.desc{
	display: block;
	font-weight: normal;
	text-align: right;
	font-style: italic;
}
@media screen and (max-width: 600px) {
	.protolegend > div {
		width: 100%;
		float: none;
		margin: 0;
	}
	.protolegend > div > div {
		max-width: inherit;
		width: 100%;
	}
	.protolegend > div > div > span.desc {
	    display: inline-block;
	    text-align: right;
	    width: 80%;
	    vertical-align: top;
	}
}
/* -------------------- */
.attachementlist {
	padding-top: 17px;
}
.attachementlist > div.line {
	display: block;
	padding: 3px 3px 0px;
}
.attachementlist > div.line input{
	display: none;
}
.attachementlist > div.line label {
	margin-left: 35px;
	position: relative;
	cursor: pointer;
}
.attachementlist > div.line label::before {
	content: "";
	display: inline-block;
	height: 25px;
	width: 25px;
	line-height: 25px;
	text-align: center;
	font-family: FontAwesome;
	margin-right: 10px;
	border: 1px solid #17a2b8;
	position: absolute;
	left: -35px;
	border-radius: 2px;
}
.attachementlist > div.line input:checked + label::before{
	content: "\f00c";
}
.attachementlist > div.line label > span{
	display: inline-block;
	padding-right: 10px;
	word-wrap: break-word;
	word-break: break-all;
}
