# enable xsendfile
#XSendFile On

RewriteEngine on

RewriteCond %{REQUEST_URI} ^/files/get/filestorage/.*$
RewriteRule (.*)$ index.php [L]

RewriteCond %{REQUEST_FILENAME}       !-f
RewriteCond %{REQUEST_FILENAME}       !-d
RewriteRule (.*)                      index.php  [QSA,L]
